<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="destination_content">
        <img src="{{city.img.url}}" alt="">
        <div class="destination_title"><a href="destinations.html">{{city.name}}</a></div>
        <div class="destination_subtitle"><p>{{city.desc}}</p></div>
        <div class="destination_price">From ${{city.price}}</div>
    </div>
</body>
</html>